@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600" ) ;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition: .3s ease;
}
/*  Styles Default */
html{
    font-size: 90%;
}
 .container{
    position: relative;
    height: 95vh;
    display: flex;
    align-items: center;
    background:  #F7FAFC;
} 

/* Hidden the scroll */
::-webkit-scrollbar{
    display: none;
}
/* Media queries  */

@media screen and (max-width: 500px) {
    .secondContent{
        /* flex-direction: column; */
        width: 10%;
        height: 50%;
    }
    
}



